
  
<div class="mainContainer">
    <img class="back" [src]="imagen" alt="">
</div>

<!-- <div *ngIf="message;" class="containerPasaje">
  <div class="txtDescripcion">
    <span>{{ message.notification.body }}</span>
  </div>
  <div class="txtPasaje"><span>{{ message.notification.title }}</span></div>
</div>

<div *ngIf="!message;" class="containerPasaje">
  GLORIA AL SEÑOR
</div> -->

<div class="containerPasaje">
  <div class="txtDescripcion">

    <div class="qrcodeCanvas">
      <canvas width="256" height="256" style="position: absolute;"></canvas>
    </div>

    <span></span>
  </div>
  <div class="txtPasaje"><span></span></div>
</div>

<div>
  <a class="btnDownload btnIcon" href="https://firebasestorage.googleapis.com/v0/b/proyectofirebase-60de4.appspot.com/o/PiedrasVivasAppV2.exe?alt=media&token=3c7a212a-7abc-4bb6-830d-7d27dbef3067" target="_blank" style="position: absolute;z-index: 100;top: 0;right: 0;margin-top: 16px;margin-right: 80px;">
    <img src = "./app/../assets/images/ic_download_desktop_app.svg" alt=""/>
  </a>
  <button class="btnFullScreen btnIcon" style="    position: absolute;z-index: 100;top: 0;right: 0;margin: 16px;">
    <img src = "./app/../assets/images/ic_fullscreen.svg" alt=""/>
  </button>
</div>

