html, body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.mainContainer{
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-image:'url(../assets/images/i1_landscape.png)'*/
}

.back{
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.containerPasaje{
    position: relative;
    float: left;
    width: 96vw;
    height: 97vh;
    margin-left: 3vw;
    margin-top: 1.5vh;
}

.txtDescripcion{
    width: 100%;
    height: 88%;
    color: white;
    float: left;
    position: relative;
    font-family: font_bold;
    text-shadow: 0px 2px 4px #000;
}

p {
  word-break: overflow;
}

.txtPasaje{
    width: 100%;
    height: 12%;
    color: white;
    float: left;
    position: relative;
    font-family: font_bold;
    text-shadow: 0px 2px 4px #000;
}
