
  
<div class="mainContainer">
    <img class="back" [src]="imagen" alt="">
</div>

<!-- <div *ngIf="message;" class="containerPasaje">
  <div class="txtDescripcion">
    <span>{{ message.notification.body }}</span>
  </div>
  <div class="txtPasaje"><span>{{ message.notification.title }}</span></div>
</div>

<div *ngIf="!message;" class="containerPasaje">
  GLORIA AL SEÑOR
</div> -->

<div class="containerPasaje">
  <div class="txtDescripcion">

    <div class="qrcodeCanvas" style="width: 266px;height:266px;padding:10px;position: relative;float: left;">
      <canvas width="256" height="256" style="position: absolute;"></canvas>
    </div>

    <span></span>
  </div>
  <div class="txtPasaje"><span></span></div>
</div>


